<div class="container">
    <h1>Welcome to Lightweight Feedback System</h1>
    <p class="description">
      The goal is to enable <strong>structured, ongoing feedback</strong> in a simple, secure, and friendly interface.
    </p>

    <div class="login-box">
      <h2>Login</h2>
      <input [(ngModel)]="email" placeholder="Email" class="input" />
      <input [(ngModel)]="password" type="password" placeholder="Password" class="input" />
      <button (click)="login()" class="btn">Login</button>
    </div>

    
  </div>